@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Sevillana&display=swap');



.todo-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
}

.column {
  width: 45%;
  background-color: #bd9f9f00;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  flex: 1;
}


.checkbox {
  margin-right: 10px;
}

.edit-button {
  background-color: #239b29;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
    row-gap: 50px;
}
h1{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
  font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sevillana', cursive;
font-size: 5rem;
text-shadow: 2px 5px 5px rgb(255, 0, 0);}
.to-do{
  min-height: 96vh;
  

}



:root {
	--clr-neon: rgb(122, 41, 184);
	--clr-bg: rgba(1, 1, 1, 1);
	--clr-white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 96vh;
	
	place-items: center;
	background: var(--clr-bg);
	font-family: system-ui;
	color: var(--clr-neon);
}

.add-button {
	font-size: 2em;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: var(--clr-neon);
	border: var(--clr-neon) 4px solid;
	padding: 0.25em 1em;
	border-radius: 0.25em;
	text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;
	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
	position: relative;
}

.add-button::before {
	pointer-events: none;
	content: "";
	position: absolute;
	background: var(--clr-neon);
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;
	transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
	filter: blur(1.15em);
	opacity: 0.7;
	transition: transform 0.5s linear;
}

.add-button::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
	opacity: 0;
	background: var(--clr-neon);
	z-index: -1;
	transition: opacity 0.5s linear;
}

.add-button:hover,
.add-button:focus {
	color: var(--clr-bg);
	text-shadow: none;
}

.add-button:hover::before,
.add-button:focus::before {
	opacity: 1;
	transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
	transition: transform 0.5s linear;
}

.add-button:hover::after,
.add-button:focus::after {
	opacity: 1;
}
.input-c{
  font-size: 1.2rem;
  width: 30%;
  height: 50px;
  border-radius:20px ;
box-shadow: 5px 5px 5px 5px rgba(132, 83, 222, 0.814);
}
h2{
  color: #fff;
}

